@font-face {
  font-family: 'Inter-Bold';
  src: url(/assets/fonts/static/Inter-Bold.ttf)
  format(opentype);
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(/assets/fonts/static/Inter-Regular.ttf)
  format(opentype);
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url(/assets/fonts/static/Inter-SemiBold.ttf)
  format(opentype);
}

:root {
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
  --links-grey: hsl(0, 1%, 30%);
  --yellow:  hsl(60, 72%, 60%);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Dark-Grey);
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 80%;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: var(--Grey);

  border-radius: 10px;
}

.card__info {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.card__info img {
  width: 130px;

  border-radius: 50%;

  margin: auto;
}

.card__links {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  text-align: center;
}

.card__info h2 {
  font-size: 28px;
  font-family: 'Inter-SemiBold';

  color: var(--White);
}

.card__info span {
  font-size: 15px;
  font-family: 'Inter-Bold';

  color: var(--yellow);

  margin-bottom: 30px;
}

.card__info p {
  color: var(--White);

  margin-bottom: -50px;
}

.card__links a {
  width: 80%;

  text-decoration: none;
  font-size: 14px;
  font-family: 'Inter-Bold';
  
  color: var(--White);

  background-color: var(--links-grey);
  padding:13px 10px;

  border-radius: 8px;

  cursor: pointer;
}

.card__links a:hover {
  background-color: var(--yellow);
  
  color: black;
}

footer {
  text-align: center;
  font-size: smaller;

  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 30%;
    height: 94vh;

  }

  footer {
    margin-top: 20px;
  }
  
}